[Unit]
Description=First boot configuration script
Requires=Network.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/bin/bash <(curl -s https://raw.githubusercontent.com/karb94/arch/master/first_boot.sh)"
StandardOutput=journal
User=root

[Install]
WantedBy=multi-user.target
